version: '3.8'

services:
  so-long:
    container_name: so-long
    build:
      context: .
    volumes:
      - ./program:/home/program
    working_dir: /home/program
    environment:
      - DISPLAY=host.docker.internal:0
    command: /bin/sh
    tty: true